/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  height: calc(100vh - 50px); /* Adjust height to leave space for header */
}

.map-container {
  flex: 1;
  position: relative;
}

.toggle-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
